{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/semantic-ui/dist/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}

    <div class="ui stackable center aligned grid container">
        <div class="fourteen wide column">
            <h1 class="ui main icon header">
                <img class="ui inline icon image" src="./images/x-ruler.png"> Volumeter
            </h1>
        </div>
    </div>

    <div class="ui one column center aligned relaxed grid container">
        <div class="ui card">
            <div class="content">
                <!--<div class="header">Volume</div>-->
                <div class="description">
                    <div class="ui huge large green statistic">
                        <div class="value">
                            10720
                        </div>
                        <div class="label">
                            cube centimeters
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="ui icon header">Volume</h2>
        </div>
    </div>
    <div class="feature alternate ui stripe vertical measurements segment">
        <div class="ui three column center aligned divided relaxed stackable grid container">
            <div class="row">
                <div class="column">
                    <p>
                    <div class="ui large teal statistic">
                        <div class="weight value">23.7</div>
                        <div class="label">centimeters</div>
                    </div>
                    </p><h2 class="ui icon header">
                        <img class="ui icon image" src="./images/length-ruler.png"> Width
                    </h2>
                </div>

                <div class="column">
                    <p>
                    <div class="ui large blue statistic">
                        <div class="length value">12.6</div>
                        <div class="label">centimeters</div>
                    </div>
                    </p>

                    <h2 class="ui icon header">
                        <img class="ui icon image" src="./images/length-ruler.png">Length
                    </h2>
                </div>

                <div class="column">
                    <p>
                    <div class="ui large yellow statistic">
                        <div class="height value">35.9</div>
                        <div class="label">centimeters</div>
                    </div>
                    </p><h2 class="ui icon header">
                        <img class="ui icon image" src="./images/height-ruler.png">Height
                    </h2>
                </div>

            </div>
        </div>
    </div>
    <div id="output"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ asset('vendor/semantic-ui/dist/semantic.min.js') }}"></script>
    <script src="{{ asset('js/socket.js') }}"></script>
{% endblock %}
