{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/semantic_ui/dist/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}

    {#<div class="ui stackable center aligned grid container">#}
    {#<div class="fourteen wide column">#}
    {#<h1 class="ui main icon header">#}
    {#<img class="ui inline icon image" src="./images/x-ruler.png"> Volumeter#}
    {#</h1>#}
    {#</div>#}
    {#</div>#}

    <div class="feature alternate ui stripe vertical measurements segment">
        <div class="ui four column center aligned divided relaxed stackable grid container">
            <div class="row">
                <div class="column">
                    <p>
                    <div class="ui teal statistic">
                        <div class="weight value">23.7</div>
                        <div class="label">centimeters</div>
                    </div>
                    </p><h2 class="ui icon header">
                        <img class="ui icon image" src="./images/length-ruler.png"> Width
                    </h2>
                </div>

                <div class="column">
                    <p>
                    <div class="ui blue statistic">
                        <div class="length value">12.6</div>
                        <div class="label">centimeters</div>
                    </div>
                    </p>

                    <h2 class="ui icon header">
                        <img class="ui icon image" src="./images/length-ruler.png">Length
                    </h2>
                </div>

                <div class="column">
                    <p>
                    <div class="ui yellow statistic">
                        <div class="height value">35.9</div>
                        <div class="label">centimeters</div>
                    </div>
                    </p><h2 class="ui icon header">
                        <img class="ui icon image" src="./images/height-ruler.png">Height
                    </h2>
                </div>
                <div class="column">
                    <p>
                    <div class="ui large green statistic">
                        <div class="value">10720</div>
                        <div class="label">cube centimeters</div>
                    </div>
                    </p><h2 class="ui icon header">
                        <img class="ui icon image" src="./images/x-ruler.png">Volume
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="ui center aligned search container">
        <form action="#" id="barcode-form">
            <div class="ui large fluid input focus">
                <input type="text" id="barcode" placeholder="Barcode">
            </div>
        </form>

    </div>
    <div class="ui center aligned items container">
        <div class="ui items">
            <div class="item">
                <div class="ui tiny image">
                    <img src="./images/height-ruler.png">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        Content A
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                    <div class="extra">
                        <div class="ui right floated button">
                            Action
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui tiny image">
                    <img src="./images/height-ruler.png">
                </div>
                <div class="middle aligned content">
                    <div class="header">
                        Content B
                    </div>
                    <div class="description">
                        <p></p>
                    </div>
                    <div class="extra">
                        <div class="ui right floated button">
                            Action
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="ui tiny image">
                    <img src="./images/height-ruler.png">
                </div>
                
                <div class="middle aligned content">
                    <div class="header">
                        Content C
                    </div>
                    <div class="description">
                        <p>description</p>
                    </div>
                    <div class="extra">
                        <div class="ui right floated button">
                            Action
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="output"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ asset('vendor/semantic_ui/dist/semantic.min.js') }}"></script>
    <script src="{{ asset('js/ClientSocket.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
