{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/semantic_ui/dist/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="feature alternate ui stripe vertical measurements segment">
        <div class="ui red connection status label">Disconnected</div>
        <div class="ui four column center aligned divided relaxed stackable grid container">
            <div class="row">
                <div class="column">
                    <p>
                    <div class="ui teal statistic">
                        <div class="width value">-</div>
                        <div class="label">centimeters</div>
                    </div>
                    </p><h2 class="ui icon header">
                        <img class="ui icon image" src="./images/length-ruler.png"> Width
                    </h2>
                </div>

                <div class="column">
                    <p>
                    <div class="ui blue statistic">
                        <div class="length value">-</div>
                        <div class="label">centimeters</div>
                    </div>
                    </p>

                    <h2 class="ui icon header">
                        <img class="ui icon image" src="./images/length-ruler.png">Length
                    </h2>
                </div>

                <div class="column">
                    <p>
                    <div class="ui yellow statistic">
                        <div class="height value">-</div>
                        <div class="label">centimeters</div>
                    </div>
                    </p><h2 class="ui icon header">
                        <img class="ui icon image" src="./images/height-ruler.png">Height
                    </h2>
                </div>
                <div class="column">
                    <p>
                    <div class="ui green statistic">
                        <div class="volume value">-</div>
                        <div class="label">cube centimeters</div>
                    </div>
                    </p><h2 class="ui icon header">
                        <img class="ui icon image" src="./images/box-volume.png">Volume
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="ui center aligned search container">
        <form action="#" id="barcode-form">
            <div class="ui large fluid input focus">
                <input type="text" id="barcode" placeholder="Barcode" autofocus>
            </div>
        </form>
    </div>

    <div class="ui container">
        <div id="measurements-list" class="ui divided measurements log large list">
            <div class="measurement item">
                <img class="left floated image" src="./images/box.png">
                <div class="left floated barcode content">
                    <div class="header">Snickerdoodle</div>
                    Barcode
                </div>
                <div class="left floated width content">
                    <div class="header">26.4cm</div>
                    Width
                </div>
                <div class="left floated length content">
                    <div class="header">25.7cm</div>
                    Length
                </div>
                <div class="left floated height content">
                    <div class="header">69.47cm</div>
                    Height
                </div>
                <div class="left floated volume content">
                    <div class="header">69.47cm</div>
                    Volume
                </div>
            </div>
            <div class="measurement item">
                <img class="left floated image" src="./images/box.png">
                <div class="left floated barcode content">
                    <div class="header">Snickerdoodle</div>
                    Barcode
                </div>
                <div class="left floated width content">
                    <div class="header">26.4cm</div>
                    Width
                </div>
                <div class="left floated length content">
                    <div class="header">25.7cm</div>
                    Length
                </div>
                <div class="left floated height content">
                    <div class="header">69.47cm</div>
                    Height
                </div>
                <div class="left floated volume content">
                    <div class="header">69.47cm</div>
                    Volume
                </div>
            </div>

        </div>
    </div>

    <div id="output"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/jquery/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ asset('vendor/semantic_ui/dist/semantic.min.js') }}"></script>
    <script src="{{ asset('vendor/jquery.slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('js/ClientSocket.js') }}"></script>
    <script src="{{ asset('js/MeasurementItem.js') }}"></script>
    <script src="{{ asset('js/MeasurementsList.js') }}"></script>
    <script src="{{ asset('js/Dashboard.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
